/* ========= [ * home style1 ]  =========*/
/* ========= [ * section_title Section ]  =========*/
/* --------------- header style1 --------------- */
.tc-section-title-style1 h2 {
    font-size: 48px;
}

.tc-section-title-style1 h2 span {
    color: #999;
    font-style: italic;
    font-family: "Playfair Display", serif;
    font-weight: normal;
}

/* ========= [ * navbar side_menu ]  =========*/
.side_menu.style-1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #f3f3f3;
    height: 100vh;
    width: 40%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 99999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.side_menu.style-1 .content {
    width: 100%;
}

.side_menu.style-1 .content .logo {
    padding: 35px 5vw;
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
}

.side_menu.style-1 .content .logo img {
    max-width: 35%;
}

.side_menu.style-1 .content .side_foot {
    padding: 30px 5vw;
    border-top: 1px solid rgba(153, 153, 153, 0.2);
}

.side_menu.style-1 .content .side_foot h5 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.side_menu.style-1 .pages_links {
    padding: 15px 5vw;
    height: calc(100vh - 230px);
    overflow: auto;
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.side_menu.style-1 .pages_links::-webkit-scrollbar {
    height: 5px;
    width: 3px;
    background: rgba(129, 105, 241, 0.1333333333);
    border-radius: 10px;
}

.side_menu.style-1 .pages_links::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

.side_menu.style-1 .pages_links::-webkit-scrollbar-corner {
    background: rgba(129, 105, 241, 0.1333333333);
    border-radius: 10px;
}

.side_menu.style-1 .pages_links li {
    opacity: 0;
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.side_menu.style-1 .pages_links li a {
    color: #222;
    font-size: calc(10px + 0.8vw);
    font-weight: bold;
    margin: 10px 0;
    position: relative;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-transform: capitalize;
}

.side_menu.style-1 .pages_links li a::after {
    position: absolute;
    content: "";
    left: 110%;
    top: 60%;
    width: 0;
    height: 2px;
    background-color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.side_menu.style-1 .pages_links li a.active {
    color: #000;
}

.side_menu.style-1 .pages_links li a.active::after {
    width: 50px;
}

.side_menu.style-1 .pages_links ul li {
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.side_menu.style-1 .pages_links ul li:nth-of-type(1) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.side_menu.style-1 .pages_links ul li:nth-of-type(2) {
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.side_menu.style-1 .pages_links ul li:nth-of-type(3) {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.side_menu.style-1 .pages_links ul li:nth-of-type(4) {
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

.side_menu.style-1 .pages_links ul li:nth-of-type(5) {
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.side_menu.style-1 .pages_links ul li:nth-of-type(6) {
    -webkit-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
}

.side_menu.style-1 .pages_links ul li:nth-of-type(7) {
    -webkit-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s;
}

.side_menu.style-1 .pages_links ul li:nth-of-type(8) {
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}

.side_menu.style-1 .side_menu_cls {
    position: absolute;
    top: 40px;
    right: 30px;
}

.side_menu.style-1 .side_menu_cls:hover {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.side_menu.style-1.show {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    pointer-events: all;
    border-radius: 0;
}

.side_menu.style-1.show li {
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.side_menu.style-1.dark_theme {
    background-color: #000;
    color: #fff;
}

.side_menu.style-1.dark_theme .pages_links li a {
    color: #999;
}

.side_menu.style-1.dark_theme .pages_links li a::after {
    background: #999;
}

.side_menu.style-1.dark_theme .pages_links li a:hover {
    color: #fff;
}

.side_menu.style-1.dark_theme .pages_links li a:hover::after {
    background: #999;
}

.side_menu.style-1.dark_theme::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.2);
}

.side_menu.style-1.dark_theme::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
}

.side_menu.style-1.dark_theme::-webkit-scrollbar-corner {
    background: rgba(255, 255, 255, 0.2);
}

.side_overlay {
    position: fixed;
    z-index: 99998;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.side_overlay.show {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 480px) {
    .side_menu.style-1 {
        width: 100%;
    }

    .side_menu.style-1 .pages_links {
        height: calc(100vh - 273px);
    }
}

/* ========= [ * navbar Section ]  =========*/
/* --------------- navbar --------------- */
.navbar {
    position: relative;
    z-index: 99;
}

/* --------------- navbar style1 --------------- */
.navbar.style1 {
    padding: 20px;
}

.navbar.style1 .canvas-btn-style1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid rgba(153, 153, 153, 0.4);
    -webkit-margin-start: 15px;
    margin-inline-start: 15px;
    font-size: 21px;
    cursor: pointer;
}

.navbar.style1 .canvas-btn-style1:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 991px) {
    .navbar.style1 {
        padding: 20px 10px;
    }

    .navbar.style1 .mob-nav-toggles {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .navbar.style1 .mob-nav-toggles .logo-text {
        -webkit-margin-start: 0 !important;
        margin-inline-start: 0 !important;
        margin-top: 20px;
    }

    .navbar.style1 .nav-side {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 15px;
    }

    .navbar.style1 .nav-side .butn {
        padding: 12px 10px !important;
    }

    .navbar.style1 .nav-side .butn .fsz-14 {
        font-size: 11px;
    }

    .navbar.style1 .nav-side .canvas-btn-style1 {
        width: 45px;
        height: 45px;
    }
}

/* ========= [ * header Section ]  =========*/
/* --------------- header style1 --------------- */
.tc-header-style1 {
    position: relative;
    padding-top: 60px;
}

.tc-header-style1 h1 {
    font-size: 90px;
}

.tc-header-style1 .rotate-box {
    position: relative;
    width: 210px;
    height: 210px;
    display: block;
}

.tc-header-style1 .rotate-box .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 5px;
    -webkit-transform: translate(-100%);
    -ms-transform: translate(-100%);
    transform: translate(-100%);
}

.tc-header-style1 .rotate-box .rotate-text {
    -webkit-animation: rotateText 20s linear infinite;
    animation: rotateText 20s linear infinite;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: calc(50% - 125px);
    top: 20px;
    border: 1px solid rgba(153, 153, 153, 0.6);
    border-radius: 50%;
}

.tc-header-style1 .rotate-box .rotate-circle svg {
    width: 210px;
    height: 210px;
    fill: #000;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}

@-webkit-keyframes rotateText {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes rotateText {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 991px) {
    .tc-header-style1 h1 {
        font-size: 40px;
    }

    .tc-header-style1 .rotate-box {
        margin: auto;
    }
}

/* ========= [ * portfolio Section ]  =========*/
/* --------------- header style1 --------------- */
.tc-portfolio-style1 {
    position: relative;
    padding: 70px 0 130px;
}

.tc-portfolio-style1 .portfolio-card {
    position: relative;
    margin-top: 50px;
    display: block;
}

.tc-portfolio-style1 .portfolio-card:hover .img img:nth-child(1) {
    -webkit-transform: translateX(0) scaleX(1);
    -ms-transform: translateX(0) scaleX(1);
    transform: translateX(0) scaleX(1);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.tc-portfolio-style1 .portfolio-card:hover .img img:nth-child(2) {
    -webkit-transform: translateX(-50%) scaleX(2);
    -ms-transform: translateX(-50%) scaleX(2);
    transform: translateX(-50%) scaleX(2);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.tc-portfolio-style1 .portfolio-card:hover .img .icon {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    background-color: #000;
    color: #fff;
}

.tc-portfolio-style1 .portfolio-card .img {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.tc-portfolio-style1 .portfolio-card .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.tc-portfolio-style1 .portfolio-card .img img:nth-child(1) {
    -webkit-transform: translateX(50%) scaleX(2);
    -ms-transform: translateX(50%) scaleX(2);
    transform: translateX(50%) scaleX(2);
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.tc-portfolio-style1 .portfolio-card .img .icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    width: 40px;
    height: 40px;
    line-height: 43px;
    text-align: center;
    border-radius: 50%;
    font-size: 13px;
    background-color: #ffffff9c;
    color: #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tc-portfolio-style1 .portfolio-card.lg-card .img {
    height: 840px;
}

.tc-portfolio-style1 .portfolio-card.md-card .img {
    height: 400px;
}

.tc-portfolio-style1 .portfolio-card.sm-card .img {
    height: 270px;
}

@media screen and (max-width: 991px) {
    .tc-portfolio-style1 {
        padding: 50px 0;
    }

    .tc-portfolio-style1 .portfolio-card .img {
        height: 300px !important;
    }
}

/* ========= [ * servives Section ]  =========*/
/* --------------- services style1 --------------- */
.tc-services-style1 {
    padding: 130px 0;
}

.tc-services-style1 .service-card {
    position: relative;
    margin-top: 50px;
    display: block;
}

.tc-services-style1 .service-card:hover .arrow {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    background-color: #000;
    color: #fff;
}

.tc-services-style1 .service-card .icon {
    height: 170px;
}

.tc-services-style1 .service-card ul {
    margin-bottom: 60px;
}

.tc-services-style1 .service-card ul li {
    font-size: 18px;
    margin: 5px 0;
    font-weight: bold;
}

.tc-services-style1 .service-card .arrow {
    z-index: 10;
    width: 30px;
    height: 30px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    background-color: #e2e3f2;
    color: #000;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media screen and (max-width: 991px) {
    .tc-services-style1 {
        padding: 50px 0;
    }

    .tc-services-style1 .service-card ul {
        margin-bottom: 30px;
    }
}

/* ========= [ * partners Section ]  =========*/
/* --------------- partners style1 --------------- */
.tc-partners-style1 {
    padding: 130px 0 0;
}

.tc-partners-style1 .content {
    border-bottom: 1px solid #999;
    padding-bottom: 130px;
}

.tc-partners-style1 .partner-card {
    position: relative;
    text-align: center;
    height: 260px;
    border: 1px solid #999;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 18px;
}

.tc-partners-style1 .partner-card:hover {
    background-color: #e2e3f2;
}

.tc-partners-style1 .partner-card:hover .logo {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

.tc-partners-style1 .partner-card:hover .foot-inf p {
    opacity: 0;
}

.tc-partners-style1 .partner-card:hover .foot-inf .icon {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #000;
    color: #fff;
}

.tc-partners-style1 .partner-card:hover .info {
    opacity: 1;
    margin-top: 0;
}

.tc-partners-style1 .partner-card .logo {
    max-width: 50%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tc-partners-style1 .partner-card .foot-inf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #000;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 25px;
    z-index: 1;
}

.tc-partners-style1 .partner-card .foot-inf p {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tc-partners-style1 .partner-card .foot-inf .icon {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    background-color: #e2e3f2;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tc-partners-style1 .partner-card .info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: start;
    padding: 30px;
    opacity: 0;
    margin-top: 30px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.numbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 100px;
}

.numbs .numb-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-margin-end: 90px;
    margin-inline-end: 90px;
}

.numbs .numb-card h2 {
    font-size: 48px;
    -webkit-margin-end: 25px;
    margin-inline-end: 25px;
}

.numbs .numb-card p {
    font-size: 16px;
    color: #666;
    text-transform: uppercase;
}

@media screen and (max-width: 991px) {
    .tc-partners-style1 {
        padding: 50px 0 0;
    }

    .tc-partners-style1 .content {
        padding-bottom: 50px;
    }

    .numbs .numb-card {
        -webkit-margin-end: 0;
        margin-inline-end: 0;
        margin-top: 30px;
    }

    .numbs .numb-card h2 {
        font-size: 25px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 60px;
    }
}

/* ========= [ * testimonials Section ]  =========*/
/* --------------- testimonials style1 --------------- */
.tc-testimonials-style1 {
    padding: 130px 0;
}

.tc-testimonials-style1 .testi-card {
    border: 1px solid #999;
    border-radius: 30px;
    padding: 50px;
}

.tc-testimonials-style1 .testi-card .text {
    font-size: 22px;
    min-height: 250px;
}

.tc-testimonials-style1 .tc-testimonials-slider1 .slider-controls {
    position: relative;
    background-color: #e5e6f3;
    padding: 5px 50px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 80px;
}

.tc-testimonials-style1 .tc-testimonials-slider1 .slider-controls .swiper-pagination {
    position: relative;
    bottom: 0;
}

.tc-testimonials-style1 .tc-testimonials-slider1 .slider-controls .swiper-pagination .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
}

.tc-testimonials-style1 .tc-testimonials-slider1 .slider-controls .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #000;
}

.tc-testimonials-style1 .tc-testimonials-slider1 .slider-controls .swiper-button-next::after,
.tc-testimonials-style1 .tc-testimonials-slider1 .slider-controls .swiper-button-prev::after {
    font-size: 14px;
    color: #999;
}

@media screen and (max-width: 991px) {
    .tc-testimonials-style1 {
        padding: 50px 0;
    }

    .tc-testimonials-style1 .testi-card {
        padding: 30px 20px;
    }

    .tc-testimonials-style1 .testi-card .text {
        font-size: 14px;
    }

    .tc-testimonials-style1 .slider-controls {
        margin-top: 15px !important;
    }
}

/* ========= [ * team Section ]  =========*/
/* --------------- team style1 --------------- */
.tc-team-style1 {
    text-align: center;
    padding: 130px 0;
}

.tc-team-style1 .team-text-card {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #46464b;
    margin-top: 30px;
    color: #fff;
}

.tc-team-style1 .team-img-card {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
}

.tc-team-style1 .team-img-card img {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.tc-team-style1 .team-img-card.lg-card {
    width: 430px;
    height: 430px;
}

.tc-team-style1 .team-img-card.lg-card .info h6 {
    font-size: 30px;
}

.tc-team-style1 .team-img-card:hover img {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}

.tc-team-style1 .team-img-card:hover .info {
    opacity: 1;
    top: 0;
}

.tc-team-style1 .team-img-card .info {
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
    background-color: #46464b;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.tc-team-style1 .team-img-card .info h6 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.tc-team-style1 .button_su {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 0;
    text-align: start;
    line-height: 2.5;
    margin-top: 30px;
}

.tc-team-style1 .button_su .button_su_inner {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .tc-team-style1 {
        padding: 50px 0;
    }

    .tc-team-style1 .team-text-card,
    .tc-team-style1 .team-img-card {
        width: 250px !important;
        height: 250px !important;
        margin: 15px auto;
    }

    .tc-team-style1 .ord-last {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
}

/* ========= [ * awards Section ]  =========*/
/* --------------- awards style1 --------------- */
.tc-awards-style1 {
    padding: 130px 0 0;
}

.tc-awards-style1 .table thead th {
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    font-weight: 400;
    padding: 15px 20px;
}

.tc-awards-style1 .table tbody tr {
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tc-awards-style1 .table tbody tr td {
    padding: 30px 20px;
    border-color: #999;
}

.tc-awards-style1 .table tbody tr td:first-of-type {
    text-transform: uppercase;
}

.tc-awards-style1 .table a:hover {
    text-decoration: underline !important;
}

.tc-awards-style1 .slider-content {
    position: relative;
    padding: 250px 0 90px;
}

.tc-awards-style1 .slider-content h2 {
    font-size: 100px;
    color: #bdbfd1;
    padding: 0 70px;
}

.tc-awards-style1 .tc-awards-slider1 .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}

.tc-awards-style1 .tc-awards-slider1 .swiper-slide {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
}

.tc-awards-style1 .float_box {
    position: absolute;
    top: 60px;
    right: 0;
    width: 190px;
    height: 190px;
    background-color: #000;
    border-radius: 50%;
    -webkit-transition: linear;
    -o-transition: linear;
    transition: linear;
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, -50%);
    -ms-transform: scale(0) translate(-50%, -50%);
    transform: scale(0) translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
}

.tc-awards-style1 .float_box p {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 250px;
}

.tc-awards-style1 .float_box.show {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%);
    -ms-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
}

@media screen and (max-width: 991px) {
    .tc-awards-style1 {
        padding: 50px 0;
    }

    .tc-awards-style1 .slider-content {
        padding: 100px 0 0;
    }

    .tc-awards-style1 .slider-content h2 {
        font-size: 30px !important;
    }
}

/* ========= [ * footer Section ]  =========*/
/* --------------- footer style1 --------------- */
.tc-footer-style1 .content {
    padding: 130px 0;
}

.tc-footer-style1 .sub-title {
    font-size: 18px;
    margin-bottom: 50px;
    font-weight: bold;
    text-transform: capitalize;
}

.tc-footer-style1 .links li {
    margin-bottom: 10px;
}

.tc-footer-style1 p {
    font-size: 16px;
    color: #666;
    text-transform: capitalize;
}

.tc-footer-style1 a {
    font-size: 16px;
    color: #666;
    text-transform: capitalize;
}

.tc-footer-style1 a:hover {
    color: #000;
}

.tc-footer-style1 .foot {
    padding: 60px 0;
    border-top: 1px solid #999;
}

@media screen and (max-width: 991px) {
    .tc-footer-style1 .sub-title {
        margin: 50px 0 20px;
    }

    .tc-footer-style1 .content {
        padding: 50px 0;
    }

    .tc-footer-style1 .foot .inf {
        margin: 30px 0 !important;
    }
}

.home-style1 .dr_item {
    display: none;
}

/* -------------------- responsive style ------------------------- */
@media screen and (max-width: 991px) {
    br {
        display: none;
    }

    .home-style1 .mt-90 {
        margin-top: 45px !important;
    }

    .home-style1 .mb-90 {
        margin-bottom: 45px !important;
    }

    .home-style1 .mt-60 {
        margin-top: 30px !important;
    }

    .home-style1 .tc-section-title-style1 h2 {
        font-size: 30px;
    }

    .home-style1 .fsz-30 {
        font-size: 21px !important;
    }

    .home-style1 .mb-40 {
        margin-bottom: 20px !important;
    }
}

/* == */
/* = */
.home-style1.dark-theme {
    color: #fff;
}

.home-style1.dark-theme .lt_item {
    display: none;
}

.home-style1.dark-theme .dr_item {
    display: block;
}

.home-style1.dark-theme.bg-light1,
.home-style1.dark-theme .side_menu.style-1 .pages_links {
    background-color: #222 !important;
}

.home-style1.dark-theme .bg-white,
.home-style1.dark-theme .side_menu.style-1 {
    background-color: #2e2e31 !important;
}

.home-style1.dark-theme .butn,
.home-style1.dark-theme .tc-partners-style1 .partner-card .foot-inf,
.home-style1.dark-theme .table-hover>tbody>tr:hover,
.home-style1.dark-theme .color-000,
.home-style1.dark-theme .tc-footer-style1 p,
.home-style1.dark-theme .side_menu.style-1 .pages_links li a.active {
    color: #fff !important;
}

.home-style1.dark-theme .color-999,
.home-style1.dark-theme .tc-section-title-style1 h2 span,
.home-style1.dark-theme .table,
.home-style1.dark-theme .tc-footer-style1 a,
.home-style1.dark-theme .numbs .numb-card p,
.home-style1.dark-theme .color-666,
.home-style1.dark-theme .side_menu.style-1 .pages_links li a {
    color: #ccc !important;
}

.home-style1.dark-theme .tc-header-style1 .rotate-box .rotate-circle svg {
    fill: #fff;
}

.home-style1.dark-theme .tc-partners-style1 .partner-card:hover {
    background-color: #222;
}

.home-style1.dark-theme .tc-partners-style1 .partner-card {
    border: 1px solid rgba(255, 255, 255, 0.1333333333);
}

.home-style1.dark-theme .side_menu.style-1 .pages_links li a::after {
    background-color: #fff;
}